<!DOCTYPE html>
<html lang="pt-BR">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'core/css/cadastro.css' %}">
    <title>Cadastro - SleepCare</title>
</head>

<body>

<div class="card">
    <h2>Criar Conta</h2>

    <!-- 🔔 MENSAGENS DO DJANGO -->
    {% if messages %}
        {% for msg in messages %}
            <p class="msg {{ msg.tags }}">{{ msg }}</p>
        {% endfor %}
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Usuário" required>
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="senha" placeholder="Senha" required>
        <input type="password" name="confirmar" placeholder="Confirmar senha" required>

        <button type="submit">Cadastrar</button>
    </form>

    <a class="link" href="{% url 'login' %}">Já tenho conta</a>
</div>

</body>
</html>
