{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SleepCare - Login</title>
    <link rel="stylesheet" href="{% static 'core/css/login.css' %}">

</head>

<body>

<div class="container">
    <div class="card">
        <h1 class="logo">SleepCare</h1>
        <p class="subtitle">Bem-vindo(a) de volta!</p>

        <form method="POST">
            {% csrf_token %}

            <input type="text" name="username" placeholder="Usuário" required>
            <input type="password" name="password" placeholder="Senha" required>

            <a href="#" class="forgot">Esqueceu sua senha?</a>

            <button type="submit" class="btn">Entrar</button>
        </form>

        <div class="divider">Ou continue com</div>

        <div class="social">
            <button class="social-btn google">Google</button>
            <button class="social-btn apple">Apple</button>
            <button class="social-btn facebook">Facebook</button>
        </div>

        <p class="signup">
            Não tem uma conta? <a href="#">Criar conta</a>
        </p>
    </div>
</div>

</body>
</html>
